#logo{
    width: 150px;
    height: 56px;
}

#feature{
    background-color: rgb(246, 247, 249);
}

h2{
    text-align: center;
    
}
#clientes{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    
    background-color: rgb(246, 247, 249);
}
p{
    text-align:center;
}
#barrita{
    background-color: rgb(19, 37, 51);
}
.letra{
    text-align: justify; 
    font-weight: 250; 
    font-size: large;
}
.pf{
    text-align: justify;
}
